@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: #FFFFFF;
  --main-background-color: #242531;
  --secondary-background-color: #333544;
} */

body {
  margin: 0px;
  padding: 0px;
  /* color: var(--foreground-rgb);
  background: var(--main-background-color); */
}
.bg-dark-main{
  background-color: #252531;
}

.clip-path-desktop {
  clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
}
.clip-path-sm {
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
}
